<div id="identity-card">
  <div class="header">
    <div class="avatar">
      <img src="images/avatar.png" alt="">
    </div>
    <div class="identity">
      <h1 class="title">John Doe</h1>
      <h2 class="subtitle">Développeur web full-stack</h2>
    </div>
  </div>
  <hr>
  <div class="description">
    <p><%= data.cv.about.paragraph_1 %></p>
    <p><%= data.cv.about.paragraph_2 %></p>
    <p><%= data.cv.about.paragraph_3 %></p>
  </div>
  <hr>
  <div class="other">
    <div class="address">
      <i class="fa fa-github" aria-hidden="true"></i>
      <p><%= data.cv.address %></p>
    </div>
    <div class="phone">
      <i class="fa fa-github" aria-hidden="true"></i>
      <p><%= data.cv.phone %></p>
    </div>
  </div>
</div>
